@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");
* {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* font-family: 'Yanone Kaffeesatz', sans-serif;*/
}

body {
  width: 100vw;
  height: auto;
  font-size: 16px;
  color: #fff;
  overflow-x: hidden;
  font-family: 'Oxygen', sans-serif;
  color: #e8e6e3;
  background-color: #141617;
  opacity: 1;
  background: repeating-linear-gradient(45deg, #121314, #121314 20px, #141617 20px, #141617 351px);
}

.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: #000;
  top: 0;
  left: 0;
}

.robot svg {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  margin: 0 auto;
  margin-left: -300px;
  -webkit-transform: scale(0.6) translate(0, -100%);
          transform: scale(0.6) translate(0, -100%);
  -webkit-transform-origin: center;
          transform-origin: center;
  height: 800px;
  width: 600px;
}

.credit {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
}

.credit a {
  color: rgba(255, 255, 255, 0.6);
}

@-webkit-keyframes robot_bounce {
  0% {
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
  }
  100% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}

@keyframes robot_bounce {
  0% {
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
  }
  100% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}

@-webkit-keyframes shadow {
  0% {
    -webkit-transform: scale(1.5, 1.2);
            transform: scale(1.5, 1.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes shadow {
  0% {
    -webkit-transform: scale(1.5, 1.2);
            transform: scale(1.5, 1.2);
    opacity: 0.4;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 0.2;
  }
}

@-webkit-keyframes arms_bounce_left {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
}

@keyframes arms_bounce_left {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
}

@-webkit-keyframes arms_bounce_right {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

@keyframes arms_bounce_right {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

@-webkit-keyframes eyes_blink {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  90% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  95% {
    -webkit-transform: scale(0.8, 0);
            transform: scale(0.8, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes eyes_blink {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  90% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  95% {
    -webkit-transform: scale(0.8, 0);
            transform: scale(0.8, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

#body {
  -webkit-animation: robot_bounce 1.1s ease-in-out 0s infinite alternate;
          animation: robot_bounce 1.1s ease-in-out 0s infinite alternate;
}

#head {
  -webkit-animation: robot_bounce 1.1s ease-in-out 0.05s infinite alternate;
          animation: robot_bounce 1.1s ease-in-out 0.05s infinite alternate;
}

#arms {
  -webkit-animation: robot_bounce 1.1s ease-in-out 0.1s infinite alternate;
          animation: robot_bounce 1.1s ease-in-out 0.1s infinite alternate;
}

#arms #left {
  -webkit-transform-origin: center right;
          transform-origin: center right;
  -webkit-animation: arms_bounce_left 1.1s ease-in-out 0s infinite alternate;
          animation: arms_bounce_left 1.1s ease-in-out 0s infinite alternate;
}

#arms #right {
  -webkit-transform-origin: center left;
          transform-origin: center left;
  -webkit-animation: arms_bounce_right 1.1s ease-in-out 0s infinite alternate;
          animation: arms_bounce_right 1.1s ease-in-out 0s infinite alternate;
}

#eyes ellipse {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation: eyes_blink 2s ease-out 0s infinite alternate;
          animation: eyes_blink 2s ease-out 0s infinite alternate;
}

#hover ellipse {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation: shadow 1.1s ease-in-out 0s infinite alternate;
          animation: shadow 1.1s ease-in-out 0s infinite alternate;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.floatedElements .gear {
  position: absolute;
  color: gray;
  font-size: 2rem;
  -webkit-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 0.8;
  animation: move-gear 8.3s infinite alternate-reverse;
}

.floatedElements .gear.one {
  animation: move-gear2 8.3s infinite alternate-reverse;
}

.floatedElements .gear.one i {
  color: #ff4242;
}

@-webkit-keyframes move-gear {
  0% {
    right: 20%;
    bottom: 0;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  50% {
    right: 20%;
    bottom: 20%;
    -webkit-transform: rotate(180deg) rotateX(180deg) rotateY(180deg);
            transform: rotate(180deg) rotateX(180deg) rotateY(180deg);
  }
  100% {
    right: 20%;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    bottom: 10%;
  }
}

@keyframes move-gear {
  0% {
    right: 20%;
    bottom: 0;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  50% {
    right: 20%;
    bottom: 20%;
    -webkit-transform: rotate(180deg) rotateX(180deg) rotateY(180deg);
            transform: rotate(180deg) rotateX(180deg) rotateY(180deg);
  }
  100% {
    right: 20%;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    bottom: 10%;
  }
}

@-webkit-keyframes move-gear2 {
  0% {
    left: 5%;
    top: 50%;
  }
  50% {
    left: 5%;
    top: 53%;
  }
  100% {
    left: 0%;
    top: 50%;
  }
}

@keyframes move-gear2 {
  0% {
    left: 5%;
    top: 50%;
  }
  50% {
    left: 5%;
    top: 53%;
  }
  100% {
    left: 0%;
    top: 50%;
  }
}

.mr_b15 {
  margin-bottom: 10px;
}

.mr_r15 {
  margin-right: 10px;
}

nav .nav-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

nav .transpant-bg {
  font-size: 100px;
  opacity: 0.08;
  position: absolute;
  left: 400px;
  top: 250px;
  color: #fff;
  letter-spacing: 5px;
}

nav .logo {
  width: 120px;
  height: 120px;
  margin: 0;
  padding: 0;
}

nav .nav-area li {
  display: inline-block;
  padding: 0 20px;
  font-size: 1rem;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 992px) {
  nav .nav-area li {
    padding: 0 6px;
  }
}

nav .nav-area li::after {
  position: absolute;
  content: '';
  right: 0;
  bottom: 0;
  height: 0%;
  width: 1px;
  background-color: #ff4242;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav .nav-area li:hover::after {
  height: 100%;
}

nav .nav-area li:last-child::after {
  opacity: 0;
}

nav .nav-area li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.9rem;
}

nav .nav-area li a:hover {
  color: #ccc;
}

nav .login {
  color: #fff;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #5f0000;
  padding: 5px 10px;
  margin: 0;
}

nav .readBtn {
  padding: 0.8rem 2rem;
  background: white;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  font-weight: bolder;
  color: #340000;
  font-family: system-ui;
}

nav .login:hover {
  color: #fa0202;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #fff;
  padding: 5px 10px;
  margin: 0;
}

.homepage .readBtn {
  padding: 0.8rem 2rem;
  background: #ffffff;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  font-weight: bolder;
}

.homepage .login:hover {
  color: #fa0202;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #fff;
  padding: 5px 10px;
  margin: 0;
}

.homepage .data {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  position: relative;
}

.homepage .title {
  width: auto;
  margin-top: 5rem;
  margin: 0;
  max-width: 41%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 992px) {
  .homepage .title {
    max-width: 100%;
  }
}

.homepage .title h1 {
  color: #ff4242;
  font-size: 3rem;
  letter-spacing: 5px;
  font-family: 'Orbitron', sans-serif;
}

.homepage .title .subTitle {
  font-size: 0.8rem;
  font-weight: lighter;
  color: #e4e4e4;
}

.homepage .featureList {
  list-style: none;
}

.homepage .featureList li {
  margin: 8px 0;
  font-weight: lighter;
  color: #e4e4e4;
  font-size: 0.8rem;
}

.homepage .featureList li i {
  margin-right: 0.8rem;
}

.homepage .title p {
  font-size: 12px;
}

.homepage .title h6 {
  padding-top: 40px;
  font-size: 15px;
  font-weight: 500;
  color: #bcbcbc;
  padding-bottom: 15px;
}

.homepage .title h6 > span {
  font-size: 20px;
  color: #fff;
}

.homepage .title h3 {
  padding: 10px 0px;
  font-size: 22px;
  font-weight: 600;
  color: #bcbcbc;
}

.homepage .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 992px) {
  .homepage .robot {
    display: none;
  }
}

.homepage .robot .circle {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0px;
  opacity: 0;
  background-color: #141617;
  border-radius: 50%;
}

.homepage .robot .circle.one {
  width: 25rem;
  height: 25rem;
}

.homepage .robot img {
  display: none;
  position: absolute;
  width: 30rem;
  opacity: 0;
  right: 0;
}

.homepage .robot .robot2, .homepage .robot .robot1 {
  top: 3rem;
  -webkit-transform: rotateZ(-3deg);
          transform: rotateZ(-3deg);
  right: -5rem;
  width: 35rem;
}

.homepage .robot .robot1 {
  width: 42rem;
  top: 0.3rem;
  right: -10rem;
}

.homepage .btnContainer {
  bottom: -3rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage .btnContainer .readBtn {
  margin-right: 2rem;
  background-color: #fff;
  color: #ff4242;
}

.homepage .btnContainer .watchIntro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #ff4242;
}

.homepage .btnContainer .watchIntro i {
  font-size: 2rem;
  font-weight: lighter;
  margin-left: 0.5rem;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 992px) {
  .dashboard {
    padding: 2rem;
  }
}

.dashboard .side-menu {
  width: 100%;
  min-height: 700px;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  background-color: #202224;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 992px) {
  .dashboard .side-menu {
    display: none;
  }
}

.dashboard .side-menu img {
  padding: 0px 15px;
  width: 150px;
  height: 150px;
  margin: auto;
  margin-top: 20px;
}

.dashboard .side-menu li {
  list-style: none;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 5rem;
  margin: 0.5rem 0;
  padding: 2rem;
}

.dashboard .side-menu li i {
  font-size: 2rem;
  margin: 1rem;
  width: 4rem;
}

.dashboard .side-menu li a {
  text-decoration: none;
  color: #cdcdcd;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard .side-menu li:hover a {
  color: #202224;
}

.dashboard .side-menu li:hover {
  background-color: #cdcdcd;
}

.dashboard .right-menu {
  width: 100%;
  height: 750px;
  -ms-flex-preferred-size: 85%;
      flex-basis: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .dashboard .right-menu {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.dashboard .right-menu .center {
  width: 100%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 100%;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 992px) {
  .dashboard .right-menu .center {
    margin-bottom: 3rem;
  }
}

.dashboard .right-menu .center h3 {
  text-align: center;
}

.dashboard .right-menu .center-top {
  width: 100%;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashboard .right-menu .center-top-right {
  width: 100%;
  background-color: #202224;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.dashboard .right-menu .center-top-right--topData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-right: 30px;
}

.dashboard .right-menu .center-top-right--topData-img {
  width: 3.5rem;
  height: 3.5rem;
  background-color: white;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard .right-menu .center-top-right--topData-img i {
  color: #42ff52;
  font-size: 2rem;
}

.dashboard .right-menu .center-top-right--topData-data {
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
}

.dashboard .right-menu .center-top-right--topData-data h3 {
  color: #42ff52;
  margin: 0;
}

.dashboard .right-menu .center-top-left {
  width: 100%;
  background-color: #202224;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.dashboard .right-menu .center-top-left--topData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-right: 30px;
}

.dashboard .right-menu .center-top-left--topData-img {
  width: 3.5rem;
  height: 3.5rem;
  background-color: white;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard .right-menu .center-top-left--topData-img i {
  color: #ffe000;
  font-size: 2rem;
}

.dashboard .right-menu .center-top-left--topData-data {
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
}

.dashboard .right-menu .center-top-left--topData-data h3 {
  color: #ffe000;
  margin: 0;
}

.dashboard .right-menu .center-bottom {
  width: 100%;
  -ms-flex-preferred-size: 85%;
      flex-basis: 85%;
  height: 100%;
  background-color: #202224;
  border-radius: 12px;
}

.dashboard .right-menu .center-bottom img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  margin: auto;
  -webkit-box-shadow: 1px 1px 1px #ff4242;
          box-shadow: 1px 1px 1px #ff4242;
}

.dashboard .left {
  width: 100%;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 10px;
}

.dashboard .left span {
  font-size: 0.8rem;
  color: #cdcdcd;
  margin: 0;
  padding: 5px;
}

.dashboard .left h4 {
  margin: 0;
}

.dashboard .left-top {
  width: 100%;
  height: 100%;
  background-color: #202224;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.dashboard .left-top--topData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.dashboard .left-top--topData-img {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard .left-top--topData-img i {
  color: #ff4242;
  font: 1rem;
}

.dashboard .left-top--topData-data {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashboard .left-top hr {
  width: 50%;
  color: #cdcdcd;
  height: 1px;
}

.dashboard .left-middle {
  width: 100%;
  height: 100%;
  background-color: #202224;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.dashboard .left-middle--middleData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.dashboard .left-middle--middleData-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.dashboard .left-middle--middleData-img i {
  color: #ff4242;
  font: 1rem;
}

.dashboard .left-middle--middleData-img .comp {
  width: 25px;
  height: 25px;
}

.dashboard .left-middle--middleData-data {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashboard .left-bottom {
  width: 100%;
  height: 100%;
  background-color: #202224;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.dashboard .left-bottom--bottomData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
}

.dashboard .left-bottom--bottomData-img {
  width: 2.5rem;
  height: 2.5rem;
  background-color: white;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard .left-bottom--bottomData-img i {
  color: #ff4242;
  font-size: 1rem;
}

.dashboard .left-bottom--bottomData-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
}

.dashboard .left-bottom--bottomData-arrow {
  position: absolute;
  right: 0;
  top: 25%;
}

.dashboard .left-bottom--bottomData-arrow i {
  color: #ff4242;
  font-size: 1rem;
  cursor: pointer;
  margin-top: -13px;
}

.dashboard .right {
  width: 100%;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashboard .right span {
  text-align: center;
  font-size: 1rem;
}

.dashboard .right-top {
  width: 100%;
  height: 100%;
  background-color: #202224;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.dashboard .right-top-data {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  border-radius: 12px;
}

.dashboard .right-top-data h3 {
  font-size: 35px;
  margin-left: 10px;
  color: #ff4242;
  margin: 0;
}

.dashboard .right-top-pic {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  border-radius: 12px;
}

.dashboard .right-top-pic img {
  width: 100%;
  height: 100%;
}

.dashboard .right-middle {
  width: 100%;
  height: 100%;
  background-color: #202224;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 992px) {
  .dashboard .right-middle {
    height: 20rem;
  }
}

.dashboard .right-middle-data {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  border-radius: 12px;
}

.dashboard .right-middle-data h3 {
  font-size: 35px;
  margin-left: 10px;
  color: #ff4242;
  margin: 0;
}

.dashboard .right-middle-pic {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 12px;
}

.dashboard .right-middle-pic img {
  margin-right: 10px;
  width: 100%;
  height: 100%;
}

.dashboard .right-bottom {
  width: 100%;
  height: 100%;
  background-color: #202224;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.dashboard .right-bottom-data {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  border-radius: 12px;
}

.dashboard .right-bottom-data h3 {
  font-size: 35px;
  margin-left: 10px;
  color: #ff4242;
  margin: 0;
}

.dashboard .right-bottom-pic {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 12px;
}

.dashboard .right-bottom-pic img {
  width: 100%;
  height: 100%;
}

.pricingpage .circle {
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #ff4242;
  right: 10%;
  top: -5%;
  Z-index: 2;
}

.pricingpage .circle:hover {
  background-color: #2a2a2a;
}

.pricingpage .circle h6 {
  color: #e7eaed;
  font-size: 0.875;
  margin: 10px;
}

.pricingpage .main-title {
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 1px;
  color: #fff;
}

.pricingpage .main-title h1,
.pricingpage h5 {
  margin: 10px;
}

.pricingpage .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.pricingpage .con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.pricingpage .card {
  position: relative;
  background-color: #202224;
  min-width: 20rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 40px;
  margin: 20px;
  border-radius: 25px;
  border-color: #363a3d;
  border: 3px solid transparent;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  top: 0;
}

.pricingpage .card:hover {
  border: 3px solid;
  border-color: #363a3d;
  -webkit-box-shadow: 0px 0px 17px 0px #0000006e;
          box-shadow: 0px 0px 17px 0px #0000006e;
  top: 2rem;
}

.pricingpage .name h1 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.pricingpage .price h2 {
  font-size: 3.5rem;
  color: #ff4242;
  margin: 0;
}

.pricingpage .price sup {
  font-size: 1.5rem;
  right: -10px;
  position: relative;
}

.pricingpage .price span {
  font-size: 0.75rem;
}

.pricingpage hr {
  width: 95%;
  height: 1px;
  margin: auto;
  background-color: #c5c2c2;
  border: none;
  border-radius: 3rem;
  margin-top: 1.25rem;
}

.pricingpage .list {
  list-style: none;
  margin-top: 20px;
  text-align: left;
}

.pricingpage .list li {
  margin: 20px 0;
}

.pricingpage .list i {
  padding-right: 5px;
}

.pricingpage .btn button {
  margin-top: 20px;
  font-size: 1rem;
  font-weight: 500;
  background-color: #ff4242;
  color: #fff;
  outline: none;
  border: none;
  width: 200px;
  padding: 12px 15px;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
}

.pricingpage .btn button:hover {
  color: #ff4242;
  background-color: #e7eaed;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: bold;
}
/*# sourceMappingURL=main.css.map */