.pricingpage {



    .circle {
        position: absolute;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color: #ff4242;
        right: 10%;
        top: -5%;
        Z-index: 2;
    }

    .circle:hover {
        background-color: #2a2a2a;
    }

    .circle h6 {
        color: #e7eaed;
        font-size: 0.875;
        margin: 10px;

    }

    .main-title {
        margin-bottom: 50px;
        text-align: center;
        letter-spacing: 1px;
        color: #fff;
    }

    .main-title h1,
    h5 {
        margin: 10px;
    }

    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;

    }

    .con {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }


    .card {
        position: relative;
        background-color: rgb(32, 34, 36);
        min-width: 20rem;
        height: fit-content;
        padding: 40px;
        margin: 20px;
        border-radius: 25px;
        border-color: rgb(54, 58, 61);
        border: 3px solid transparent;
        transition: all 0.4s ease-in-out;
        top: 0;
        &:hover {
            border: 3px solid;
            border-color: rgb(54, 58, 61);
            box-shadow: 0px 0px 17px 0px #0000006e;
            top: 2rem;
        }
@media screen and(max-width:768px) {
    margin-top: 3rem;
    
}
    }


    .name h1 {
        font-size: 1.25rem;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }

    .price h2 {
        font-size: 3.5rem;
        color: #ff4242;
        margin: 0;

    }

    .price sup {
        font-size: 1.5rem;
        right: -10px;
        position: relative;
    }

    .price span {
        font-size: 0.75rem;
    }

    hr {
        width: 95%;
        height: 1px;
        margin: auto;
        background-color: rgb(197, 194, 194);
        border: none;
        border-radius: 3rem;
        margin-top: 1.25rem;

    }

    .list {
        list-style: none;
        margin-top: 20px;
        text-align: left;
    }

    .list li {
        margin: 20px 0;
    }

    .list i {
        padding-right: 5px;

    }

    .btn button {
        margin-top: 20px;
        font-size: 1rem;
        font-weight: 500;
        background-color: #ff4242;
        color: #fff;
        outline: none;
        border: none;
        width: 200px;
        padding: 12px 15px;
        border-radius: 25px;
        cursor: pointer;
        text-align: center;

    }

    .btn button:hover {
        color: #ff4242;
        background-color: #e7eaed;
        box-shadow: none;
        font-weight: bold;
    }

}